@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;

}
body{
    background-color: #cecece;
}

.main-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f9faf8;

}


.nav-container{
    background-color: #1f2937;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container .logo{
    color: #f9faf8;
    width: 40%;
}

.nav-container .logo .logo-heading{
    letter-spacing:0.2rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.nav-container nav{
    width: 40%;
}
.nav-container nav ul{
    display: flex;
    justify-content: space-between;

}
.nav-container nav ul li{
    list-style-type: none;
    color: #e5e7eb;
}
.nav-container nav ul li:hover{
    cursor: pointer;
}


.container{
    height: 70vh;
    display: flex;
}



.container-1 .section{
    width:50%;
    background-color: #1f2937;
}


.container-1 .section-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.container-1 .section .content-box{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  
}

.container-1 .section .content-box h1{
    color:#f9faf8;
    font-weight: 900;
    font-size: 48px;
    width: 70%;
}
.container-1 .section .content-box p{
    width: 70%;
    font-weight: 18px;
    color:#cecece;
}

.btn{
    width: 20%;
    height: 15%;
    border-radius: 0.4rem;
    border:none;
    color: #f9faf8;
    background-color: #3882f6;
    margin: 0.5rem 0;
    font-size: 1.1rem;
}
.btn:hover{
    cursor: pointer;
}
.container-1 .section-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-1 .section-2 .img-placeholder{
    width: 90%;
    height: 80%;
    background-color: #cecece67;
    color:#e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-2{
    flex-direction: column;
}


.container-2 .heading{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1f2937  ;
}


.container-2 .content-box{
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20%;

}

.box{
    height: 100%;
    width: 20%;
}
.box .frame{
    width: 100%;
    height: 50%;
    border:4px solid #3882f6;
    border-radius: 1.5rem;
}
.box .description{
    width: 100%;
    height: 40%;
    color:#414141ee;
    font-size: 1.1rem;
    text-align-last: center;
    margin: 0.5rem 0 0 0;
}

.container-3{
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    background-color: #e5e7eb;
}

.container-3 .text-area{
    width:60%;
    height: 100%;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .text{

} */


.container-4{
    justify-content: center;
    align-items: center;
}


.container-4 .section{
    width: 70%;
    height: 40%;
    background-color: #166efa;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-4 .section .description{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.container-4 .section .description .heading{
    color: #f9faf8;
}
.container-4 .section .description .text{
    color: #e5e7eb;
}

.container-4 .section .btn-box{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-4 .section .btn-box .btn{
    width: 100%;
    padding: 0.3rem 2rem ;
    color: #f9faf8;
    background-color: inherit;
    border: 2px solid #f9faf8;
    font-weight: bold;
    font-size: large;

}


.footer{
    height: 10vh;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-notes{
    color: #f9faf8;
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}


